# If u want use send notif bell
DB_EMAIL_HOST=localhost
DB_EMAIL_PORT=5432
DB_EMAIL_USERNAME=username
DB_EMAIL_PASSWORD=password
DB_EMAIL_DATABASE=database

# If u want use send notif with email
SMTP_HOST=SMTP_HOST
SMTP_PORT=SMTP_PORT
SMTP_USER=SMTP_USER
SMTP_PASS=SMTP_PASS


# if u want use send notuf wa with oca
OCA_WA_BASE_URL=OCA_WA_BASE_URL
OCA_WA_TOKEN=OCA_WA_TOKEN